.jobItemDetails_pg {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.jobItemDetails_container {
  width: 100%;
  background-color: #272727;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 26px;
  list-style-type: none;
  margin-bottom: 12px;
  margin-left: 0;
}

.jobItemDetails_logo_jobRole_container {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.jobItemDetails_company_logo {
  width: 50px;
  height: 50px;
  padding: 4px;
  margin-right: 8px;
}

.jobItemDetails_tile_and_ratings {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.jobItemDetails_jobRole_tile {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}

.jobItemDetails_rating_container {
  width: 140px;
  display: flex;
  align-items: center;
  padding: 0;
}

.jobItemDetails_star_image {
  color: #fbbf24;
  width: 30px;
  height: 30px;
  padding: 4px;
}

.jobItemDetails_rating_number {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  margin: 0px 4px;
}

.jobItemDetails_address_and_package {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobItemDetails_address {
  display: flex;
  align-items: center;
  margin-right: 4px;
  padding: 0;
}

.jobItemDetails_icon_container {
  display: flex;
  align-items: center;
}

.jobItemDetails_address_icon {
  color: #f1f5f9;
  width: 13px;
  height: 13px;
  margin: 0px 6px;
}
@media screen and (min-width: 768px) {
  .jobItemDetails_address_icon {
    width: 18px;
    height: 18px;
  }
}

.jobItemDetails_address_icon_description {
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  margin: 0px 12px 0px 0px;
}
@media screen and (min-width: 768px) {
  .jobItemDetails_address_icon_description {
    font-size: 18px;
    margin-right: 12px;
  }
}

.jobItemDetails_package {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .jobItemDetails_package {
    font-size: 18px;
  }
}

.jobItemDetails_line {
  color: #b6c5ff;
  width: 100%;
}

.jobItemDetails_description_visit_Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobItemDetails_description_heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}

.jobItemDetails_visit_container {
  width: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.jobItemDetails_visit_btn {
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.jobItemDetails_visit_icon {
  color: #6366f1;
  width: 25px;
  height: 25px;
  padding: 3px;
}

.jobItemDetails_description {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 18px;
}

.jobItemDetails_skills_heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}

.jobItemDetails_skills_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.life_at_company {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .life_at_company {
    flex-direction: row;
    justify-content: space-between;
  }
}

.life_at_company_details {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .life_at_company_details {
    width: 55%;
    margin-right: 14px;
  }
}

.life_at_company_heading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
}

.life_at_company_description {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 18px;
}

.life_at_company_image {
  align-self: center;
  width: 260px;
}
@media screen and (min-width: 768px) {
  .life_at_company_image {
    width: 320px;
  }
}

.SimilarJobHeading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 700;
}

.similar_jobs_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .similar_jobs_list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.jobItemDetails_loader_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.jobItemDetailsFailureView {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.jobItemDetailsFailureImage {
  width: 320px;
  padding: 4px;
}

.jobItemDetailsFailureHeading {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 700;
}

.jobItemDetailsFailureDescription {
  color: #cbd5e1;
  font-family: 'Roboto';
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .jobItemDetailsFailureDescription {
    font-size: 18px;
  }
}

.jobItemDetailsFailure_retryBtn {
  width: 120px;
  color: #f1f5f9;
  background-color: #6366f1;
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
