.login_pg {
  background-color: #121212;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

.login_form {
  width: 90%;
  background-color: #272727;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px;
  margin-top: 50px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .login_form {
    width: 50%;
  }
}

.login_logo_container {
  width: 120px;
  height: 50px;

  margin-bottom: 30px;
}

.login_logo {
  width: 100%;
  padding: 6px;
}

.login_input_label {
  width: 100%;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.login_input_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login_input_element {
  width: 100%;
  height: 40px;
  color: #64748b;
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #64748b;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 8px 14px;
}

.login_button {
  width: 100%;
  background-color: #6366f1;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 12px;
  margin-top: 24px;
  margin-bottom: 4px;
}

.error_msg {
  align-self: flex-start;
  color: #ff0b37;
  font-family: 'Roboto';
  font-size: 12px;
  margin-top: 0;
}
